<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:k3="http://3k.io" lang="en">
<!--/*@thymesVar id="#config" type="org.jolene.threek.SystemConfig"*/-->
<!--/*@thymesVar id="#isEndUser" type="java.lang.Boolean"*/-->
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.default.css" th:href="@{/css/style.default.css}"/>
    <link rel="stylesheet" href="../css/bootstrap-fileupload.min.css" th:href="@{/css/bootstrap-fileupload.min.css}"/>
    <link rel="stylesheet" href="../css/bootstrap-timepicker.min.css" th:href="@{/css/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" href="../css/jquery.tagsinput.css" th:href="@{/css/jquery.tagsinput.css}"/>
    <link rel="stylesheet" href="../css/colorpicker.css" th:href="@{/css/colorpicker.css}"/>
    <link rel="stylesheet" href="../css/dropzone.css" th:href="@{/css/dropzone.css}"/>


    <script src="../js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script src="../js/jquery-ui-1.10.3.min.js" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
    <script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
    <script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
    <script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>
    <script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>
    <script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>

    <script src="../js/jquery.autogrow-textarea.js" th:src="@{/js/jquery.autogrow-textarea.js}"></script>
    <script src="../js/bootstrap-fileupload.min.js" th:src="@{/js/bootstrap-fileupload.min.js}"></script>
    <script src="../js/bootstrap-timepicker.min.js" th:src="@{/js/bootstrap-timepicker.min.js}"></script>
    <script src="../js/jquery.maskedinput.min.js" th:src="@{/js/jquery.maskedinput.min.js}"></script>
    <script src="../js/jquery.tagsinput.min.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script src="../js/jquery.mousewheel.js" th:src="@{/js/jquery.mousewheel.js}"></script>
    <script src="../js/chosen.jquery.min.js" th:src="@{/js/chosen.jquery.min.js}"></script>
    <script src="../js/dropzone.min.js" th:src="@{/js/dropzone.min.js}"></script>
    <script src="../js/colorpicker.js" th:src="@{/js/colorpicker.js}"></script>


    <script src="../js/custom.js" th:src="@{/js/custom.js}"></script>

    <title>这里是显示左侧--可以理解为导航栏的模板</title>
    <meta name="description" content="left模板 支持输入参数activeMenu 标识当前所在的菜单"/>
</head>
<body>

<div class="leftpanel" th:fragment="left (activeMenu)">

    <div class="logopanel">
        <h1 th:utext="${#config.htmlTitle}"><span>[</span> 3K 配置 <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <!--这块还不知道是干什么的-->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" src="../images/photos/loggeduser.png" class="media-object"/>

                <div class="media-body">
                    <h4>John Doe</h4>
                    <span>"Life is so..."</span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="../profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings2</span></a></li>
                <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                <li><a href="../signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <h5 class="sidebartitle">导航</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li k3:active="index"><a href="../index.html"><i class="fa fa-home"></i> <span>主页</span></a></li>
            <li k3:active="email"><a href="../email.html"><span class="pull-right badge badge-success">2</span><i
                    class="fa fa-envelope-o"></i> <span>收件箱</span></a></li>
            <li k3:activeparent="'config,ticket,steady,users,orders,trend'" class="nav-parent">
                <a href=""><i class="fa fa-edit"></i> <span>管理</span></a>
                <ul class="children" k3:activestyle="">
                    <li k3:active="config"><a href="../admin/config.html"><i class="fa fa-caret-right"></i>配置</a></li>
                    <li k3:active="steady"><a href="../admin/steady.html"><i class="fa fa-caret-right"></i>安全账户</a></li>
                    <li k3:active="ticket"><a href="../admin/ticket.html"><i class="fa fa-caret-right"></i>入场券</a></li>
                    <li k3:active="users"><a href="../admin/users.html"><i class="fa fa-caret-right"></i>用户管理</a></li>
                    <li k3:active="orders"><a href="../admin/orders.html"><i class="fa fa-caret-right"></i>订单管理</a></li>
                    <li k3:active="trend"><a href="../admin/trend.html"><i class="fa fa-caret-right"></i>趋势报表</a></li>
                </ul>
            </li>
            <li k3:active="provides"><a href="../maps.html"><i class="fa fa-map-marker"></i> <span>提供单</span></a></li>
            <li k3:active="accepts"><a href="../tables.html"><i class="fa fa-file-text"></i> <span>接受单</span></a></li>
            <li k3:active="myUsers"><a href="../tables.html"><i class="fa fa-th-list"></i> <span>下线用户</span></a></li>
            <li k3:active="profile"><a href="../tables.html"><i class="fa fa-laptop"></i> <span>修改资料</span></a></li>

        </ul>

        <div class="infosummary" th:if="${#isEndUser}">
            <!--/*@thymesVar id="#user" type="org.jolene.threek.entity.User"*/-->
            <!--/*@thymesVar id="#ticketCount" type="java.lang.Integer"*/-->

            <h5 class="sidebartitle">帐号简报</h5>
            <ul>
                <li>
                    <div class="datainfo">
                        <span class="text-muted">账户余额</span>
                        <h4 about="balance" th:text="${#numbers.formatDecimal(#user.balance,1,2)}">630, 201</h4>
                    </div>
                    <div id="balance-chart" class="chart"></div>
                </li>
                <li>
                    <div class="datainfo">
                        <span class="text-muted">可用入场券</span>
                        <h4 about="ticketCount" th:text="${#ticketCount}">100</h4>
                    </div>
                    <div id="ticketCount-chart" class="chart"></div>
                </li>
            </ul>
        </div><!-- infosummary -->

    </div><!-- leftpanelinner -->
</div>
</body>
</html>